@charset "utf-8";
/* CSS Document */

body{
	background-color:#FFF;
	font-family:"Microsoft YaHei UI", "幼圆",sans-serif  ;
	font-size:16px;
	padding-top:55px;
}

#top_tab_logo{
	font-family:"Microsoft YaHei UI", "New York", serif;
	font-size:22px;
}

.logo_word{
	font-family:"Microsoft YaHei UI";
	font-size:16px;
	position:relative;
	top:1px;
	left:-30px;
	/*font-weight:600;*/
	color:#666;
}

#logo{
	position:relative;
	top:10px;
	left:-65px;
}

#index_head{
	padding-top: 10px;
	padding-left:10px;
}

#menu_tab{
	position:relative;
	top:30px;
	left:110px;
}

#img_slide{
	margin-top:40px ;
	text-align:center;
	margin-bottom:30px;
}

.img_btn{
	font-size:30px;
	margin-top:15px;
	margin-bottom:15px;
}


#hr_first{
	position: relative;
	top:-45px;
}

#index_body{
	position:relative;
	top:-25px;
}

.intro_word{
	font-size:36px;
	color:#EC4F11;
	padding-bottom:25px;
	text-align:center;
}


#img_slide img{
	border-radius:20px 20px 20px 20px;
}

.index_word{
	color: #333!important;
	font-size:18px;
	padding-bottom:30px;
}

#hr_second{
	position:relative;
	top:-20px;
}

#hr_third{
	position:relative;
	top:70px;
}

.slideitem{
	margin-bottom:110px;
}

#lit_word{
	font-size:25px;
	color: #999  ;
	margin-top:20px;
}

#lit_word_btn{
	margin-top:20px;
}

.icon_first{
	position:relative;
	right:-50px;
	top:-5px;
}

#index_mainword{
	position:relative;
	right: -5px;
	margin-top:30px;
	color: #333!important;
	font-size:18px;
	text-indent:1.8em;

}

#blockquote_word{
	color:#999;
	font-size:25px;
	margin-top:20px;
}

#slideitem_title{
	font-size:30px;
	color:#EC4F11;
	text-align:center;
}

#slideitem_word{
	color:#7f8c8d;
	font-size:20px;
	line-height:40px;
	margin-top:30px;
	text-indent:1.6em;
}

.btn_cc{
	border-radius:100px 100px 100px 100px;
	background-color:#ED4C2A;
	display: inline-block;
	color:#FFF;
	font-size: 0.9rem;
    font-weight: bold;
    height: 20px;
    margin: 0 10px 0 0;
    padding: 10px;
    text-align: center;
    width: 20px;
}

.btn_change{
	position:relative;
	top:20px;
	text-align:center;
}


/*留言板部分*/
/*For ColorUni*/

.msg{
	margin-bottom:100px;
}

.msg_word{
	color:#999;
	font-size:25px;
	margin-top:20px;
}

.box_msg_big{
	background-color:#13202C;
	border-radius:15px 15px 0px 0px;
	padding:20px;
}

.box_msg_small{
	background-color:#1ABC9C;
	margin-left:1px;
}

#box_show{
	color:#FFF;
	margin:40px;
	overflow:auto;
}

.img_ctrl{
	width:48px;
	height:48px;
	border-radius:50% 50% 50% 50%;
	border-color:#FFF;
	border-style:solid;
	border-width:medium;
	position:relative;
	right:-20px;
	top:-1px;
}

.msg_mainword{
	text-indent:2em;
	line-height:1.5em;
	border-radius:10px 10px 10px 10px;
	background-color:#34495E;
	padding:10px;
	margin-top:11px;
}
	

.point{
	position:relative;
	top:58px;
	left:-10px;
}

#box_input{
	background-color:#ECF0F1;
	border-radius:0px 0px 15px 15px;
	text-align:center;
	padding-top:15px;
	padding-bottom:1px;
}

#msg_input{
	color:#CCC;
	height:30px;
	font-size:19px;
}

.icon{
	position:relative;
	left:1.6em;
	top:0.1em;
}

#msg_setting{
	position:relative;
	left:19.5em;
	top:2em;
}

.box_show_hidden{
	display:none;
}

#hr_fourth{
	position:relative;
	top:40px;
}

#msg_count{
	background-color: #FC3;
	position:relative;
	top:-18px;
	left:-12px;
	display:none;
}

/*Fooer 部分*/
/*For ColorUni*/

#tip_footer{
	background-color:#FFE5A1;
	height:2em;
	color: #333;
	text-align:center;
	vertical-align: middle;
	padding-top:1em;
	font-size:20px;
}

#footer{
	background-color:#2F3030;
	color:#CCC;
	font-size:18px;
	font-weight:500;
	margin-top:60px;
}

.text_list{
	text-align:center;
	position:relative;
	top:0.5em;
}

.text_list li{
	list-style:none;
	line-height:2em;
}

#add_footer{
	text-align:center;
	color:#CCC;
	position:relative;
	top:65px;
	padding-bottom:5px;
}

#blockquote_right{
	position: relative;
	color:#666;
	font-size:80px;
	right:-1.7em;
	font-family:"Arial Black", Gadget, sans-serif;
}

#blockquote{
	position: relative;
	color:#666;
	top:-2.4em;
	left:-1.7em;
	font-size:80px;
	font-family: "Arial Black", Gadget, sans-serif;
}

#index_footer{
	text-align:center;
	background-color:#2F3030;
}

#word_menu{
	list-style:none;
}

#word_menu li{
	line-height:2em;
}

#QR{
	margin-right:100px;
}


/*新的Style*/
.a_no_style{
    text-decoration: none;
    color: #000000;
}

.a_no_style:hover{
    text-decoration: none;
    color: #000000;
}

/*用户头像*/

#user{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 12px;
    border-radius: 50%;
}

#user_name{
    float: left;
    margin-right: 12px;
    margin-top: 6px;
}

#num_page li {
    cursor: pointer;
}

.change_val{
    width: 80px !important;
}